<div class="center hero-unit">
	<h1>Welcome to Bitgram!</h1>

	<%= link_to "Add New Picture", new_picture_url, class: "btn btn-large btn-primary" %>

</div>

<div>
	<% @pictures.each do |picture| %>
			 <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
			 <p><%= picture[:title] %>, <%= picture[:artist] %></p>
			<% end %>
		
</div>

			