<div class="jumbotron">
	<h1>Welcome to Bitgram!</h1>
	<h2>Capture and Share the World's Moments</h2>
	<div class="center">
	<%= link_to "Add New Picture", new_picture_url, class: "demo-pricing demo-pricing-2" %>
	</div>
</div>
	

<div class="wrapper" >
		<% @pictures.each do |picture| %>
			<div class="pin">
				<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
				<p>Title: <%= picture[:title] %> | By: <%= picture[:artist] %></p>
			</div>
		<% end %>
</div>

	


