<footer class="footer">
  <small>
    <a href="http://moinvirani.com/">Bitgram</a>
    by Moin Virani
  </small>
  <nav>
    <ul>
      <li><%= link_to "View All",  pictures_path %></li>
      <li><%= link_to "Contact", "http://moinvirani.com/" %></li>
      <li><a href="http://twitter.com/moinvirani">Twitter</a></li>
    </ul>
  </nav>
</footer>
